body {
    background-color: #121212;
    color: white;
    text-align: center;
    font-family: Arial;
    margin-top: 40px;
}

#game {
    width: 310px;
    height: 310px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 10px;
}
